{% extends '::base.html.twig' %}

{% block body %}
    <div id="corps" class="">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding-top:12px;">
                    <table width="100%" border="0" cellpadding="4" cellspacing="0">
                        <tr>
                            <td width="410" colspan="2" align="center" valign="top">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center" valign="top">
                                            <table width="890" border="0" cellpadding="0" cellspacing="2">
                                                <tr>
                                                    <td colspan="2" align="center" valign="top" class="titre"><p
                                                                align="center" class="titregrand"><span
                                                                    class="titrebleugrand">Exclusivité</span><br/>
                                                            Vous rêvez de voler ou de nager comme un dauphin,<br/>
                                                            Venez essayer la toute derni&egrave;re nouveauté nautique !
                                                        </p></td>
                                                </tr>
                                                <tr>
                                                    <td width="50%" align="center" valign="top"><a
                                                                href="{{ asset('FLYBOARD-JETSKI-CANET.pdf') }}"
                                                                target="_blank">
                                                            <img src="{{ asset('images/Flybiard-canet.png') }}"
                                                                 alt="JET SKI CANET FLYBOARD" width="420" height="467"
                                                                 border="0"
                                                                 style='margin-top:-30px; margin-left:-10px;'/></a></td>
                                                    <td width="50%" align="center" valign="top"><br/>
                                                        <br/>
                                                        <span class="titregrand">FLY</span><span class="titrebleugrand"> BOARD</span><br/>
                                                        <br/>
                                                        <span class="titrebleu">Jet Sensation transforme vos rêves en réalité</span><br/>
                                                        <br/>
                                                        <span class="titre">Liberté, décollage assuré et sensations garanties !</span><br/>
                                                        <br/>

                                                        <div class="articleEncadre" style='padding:0px;'>
                                                            <object style="height: 312px; width: 512px">
                                                                <param name="movie"
                                                                       value="http://www.youtube.com/v/lM8kEHjQz9U?version=3&feature=player_detailpage">
                                                                <param name="wmode" value="transparent">
                                                                <param name="allowFullScreen" value="true">
                                                                <param name="allowScriptAccess" value="always">
                                                                <embed src="http://www.youtube.com/v/lM8kEHjQz9U?version=3&feature=player_detailpage"
                                                                       type="application/x-shockwave-flash"
                                                                       allowfullscreen="true" wmode="transparent"
                                                                       allowScriptAccess="always" width="512"
                                                                       height="288">
                                                            </object>
                                                        </div>
                                                        <br/></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top" class="titre"><a
                                                                href="{{ asset('FLYBOARD-JETSKI-CANET.pdf') }}"
                                                                CLASS="titrebleu" target="_blank">Télécharger le fly
                                                            2015</a></td>
                                                    <td align="center" valign="top" class="titrebleu">Tarifs : 95 &euro;
                                                        les 30 minutes - 70 &euro; les 20 minutes<br/>
                                                        Option video souvenir : 25 &euro;</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" align="center" valign="top"><br/>

                                                        Flyboard est un engin aquatique hydropulsé relié par un tuyau à
                                                        un jet-ski qui (grâce à sa turbine) vous fournira l'eau
                                                        nécessaire à votre propulsion. <br/>
                                                        Ceci vous permettant d'atteindre 5 à 6 mètres de haut. Le
                                                        système ne se porte pas sur le dos mais aux pieds <br/>
                                                        et dispose également de deux stabilisateurs supplémentaires au
                                                        niveau des mains qui vous permettront de vous équilibrer et de
                                                        maitriser votre trajectoire.<br/>

                                                        <br/>

                                                        L'utilisation du FLYBOARD est trés intuitive et nécéssite
                                                        seulement quelques minutes de prises en main.<br/>

                                                        <br/>
                                                        Notre équipe est formée et dispose de tous les diplomes
                                                        nécéssaires<br/>
                                                        Le FlyBoard dans les Pyrénées-Orientales avec Jet Sensation<br/>
                                                        <br/>
                                                        <br/>
                                                        Réservez votre FlyBoard : <a href="{{ path('contact') }}">Contactez-nous</a><br/>
                                                        <br/></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" align="center" valign="top">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td align="center"><a
                                                                            href="{{ asset('images/flyboard1.JPG') }}"
                                                                            rel="sexylightbox"><img
                                                                                src="{{ asset('images/flyboard1.JPG') }}"
                                                                                width="300" border="0"/></a></td>
                                                                <td align="center"><a
                                                                            href="{{ asset('images/flyboard2.jpg') }}"
                                                                            rel="sexylightbox"><img
                                                                                src="{{ asset('images/flyboard2.jpg') }}"
                                                                                width="300" border="0"/></a></td>
                                                                <td align="center"><a
                                                                            href="{{ asset('images/flyboard-66.jpg') }}"
                                                                            rel="sexylightbox"><img
                                                                                src="{{ asset('images/flyboard-66.jpg') }}"
                                                                                width="300" border="0"/></a></td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top">&nbsp;</td>
                                                    <td align="center" valign="top">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top">&nbsp;</td>
                                                    <td align="center" valign="top">&nbsp;</td>
                                                </tr>
                                            </table>
                                            <br/></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" align="center" valign="top"></td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </div>
{% endblock %}

    {% block stylesheets %}



    {% endblock %}
    {% block javascripts %}




    {% endblock %}


