{% extends '::base.html.twig' %}

{% block body %}
    <div id="corps" class="">

        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding-top:12px;">
                    <table width="100%" border="0" cellpadding="4" cellspacing="0">
                        <tr>
                            <td width="410" colspan="2" align="center" valign="top">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td align="center" valign="top">
                                            <table width="1100" border="0" cellpadding="0" cellspacing="2">
                                                <tr>
                                                    <td colspan="2" align="center" valign="top" class="titre">


                                                        <div class="articleEncadre" style='width:600px; height:106px;'>
                                                            <p align="center" class="titregrand">


                                                                <span class="titrebleugrand">Engins Tract&eacute;s</span><br/>
                                                                Sensations fortes, fous rires et décollage garantis
                                                                !<br/>
                                                                <br/>
                                                            </p>
                                                        </div>

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="50%" align="center" valign="top"><img
                                                                src="{{ asset('images/enginstractes-66-flyfish.jpg') }}"
                                                                alt="JET SKI CANET flyfish" width="380" height="403"
                                                                border="0" class="imgencadre2"
                                                                style='margin-top:20px; margin-left:-10px;'/></td>
                                                    <td width="50%" align="center" valign="top"><br/>
                                                        <br/>
                                                        <span class="titregrand">Le FLY</span><span
                                                                class="titrebleugrand">Fish</span><br/>
                                                        <br/>
                                                        <span class="titrebleu">venez jouer avec les vagues !</span><br/>
                                                        <br/>
                      <span class="titre">Défiez les lois de l'équilibre ,<br/>
déjouez les vagues et les rebonds.</span><br/>
                                                        <br/>

                                                        <div class="articleEncadre" style='padding:0px;DISPLAY:NONE'>
                                                            <object width="450" height="259">
                                                                <param name="movie"
                                                                       value="http://www.youtube.com/v/LsSzmxr0j-U?version=3&amp;hl=fr_FR&amp;rel=0"></param>
                                                                <param name="allowFullScreen" value="true"></param>
                                                                <param name="allowscriptaccess" value="always"></param>
                                                                <embed src="http://www.youtube.com/v/LsSzmxr0j-U?version=3&amp;hl=fr_FR&amp;rel=0"
                                                                       type="application/x-shockwave-flash" width="450"
                                                                       height="259" allowscriptaccess="always"
                                                                       allowfullscreen="true"></embed>
                                                            </object>
                                                        </div>
                                                        <br/>
                                                        Vous pouvez monter jusqu'à plusieurs mètres de hauteur !<br/>
                                                        totalement insubmersible,
                                                        il peut être pratiquer par tout le monde, même les enfants.
                                                        <br/>
                                                        <br/>
                                                        le pilotage et la vitesse sont adaptés en fonction de l'âge des
                                                        passagers (maximum 6 personnes) <br/>
                                                        <br/>
                                                        Mettez un peu de piment à vos loisirs nautiques et vivez avec
                                                        jetsensation une experience unique ! <br/>
                                                        <br/>
                                                        Vous serez tractés à grande vitesse, Accrochez vous ! <br/>
                                                        Réservez votre Flyfish : <a href="{{ path('contact') }}">Contactez-nous</a><span
                                                                class="titrebleu"><a
                                                                    href="{{ path('tarifs') }}"
                                                                    class="titreOrange" ><br/>
                                                                <br/>
                                                                Tarifs</a></span></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" align="center" valign="top"><br/>
                                                        <br/></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top" class="titre"><p>&nbsp;</p></td>
                                                    <td align="center" valign="top" class="titrebleu">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top"><img
                                                                src="{{ asset('images/enginstractes-66-slydsit.jpg') }}"
                                                                alt="JET SKI CANET FLYBOARD" width="380" height="403"
                                                                border="0" class="imgencadre2"
                                                                style='margin-top:-30px; margin-left:-10px;'/></td>
                                                    <td align="center" valign="top"><br/>
                                                        <br/>
                                                        <a id="slydsit" style='text-decoration:none'> <span
                                                                    class="titregrand">Le SLYD</span><a href="#slydsit"><span
                                                                        class="titrebleugrand">sIT</span></a><br/>
                                                            <br/>
                                                            <span class="titrebleu">Nouvelle attraction à sensations fortes !</span><br/>
                                                            <br/>
                      <span class="titre">vous allez vous balancer et glisser sur l'eau<br/>
                      <br/>
                      sensations fortes garanties en toute sécurite !</span><br/>
                                                            <br/> <br/>
                                                            Réservez votre Slydsit : <a href="{{ path('contact') }}">Contactez-nous</a><span
                                                                    class="titrebleu"><a
                                                                        href="http://www.jetsensation.fr/tarifs.html?width=980&amp;height=660"
                                                                        class="titreOrange" rel="sexylightbox"><br/>
                                                                    Tarifs</a></span></td>
                                                </tr>
                                                <tr>
                                                    <td align="center" valign="top" class="titre">&nbsp;</td>
                                                    <td align="center" valign="top" class="titrebleu">&nbsp;</td>
                                                </tr>
                                            </table>
                                            <br/></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2" align="center" valign="top"></td>
                        </tr>
                    </table>
                </td>
            </tr>

        </table>
    </div>
{% endblock %}

    {% block stylesheets %}



    {% endblock %}
    {% block javascripts %}




    {% endblock %}


