{% extends '::base.html.twig' %}

{% block body %}




        <div id="corps" class="">
            <div style="text-align: center">
                <div id="gallery">

                    <a rel='{{ asset('photos/241192_226719117343307_100000156619418_1077216_815262_o.jpg') }}'
                       href='{{ asset('photos/241192_226719117343307_100000156619418_1077216_815262_o.jpg') }}'>
                        <img src='{{ asset('photos/241192_226719117343307_100000156619418_1077216_815262_o.jpg') }}'
                                >
                    </a>

                    <a rel='{{ asset('photos/268115_165029126898851_100001752956240_363625_5659382_n.jpg') }}'
                       href='{{ asset('photos/268115_165029126898851_100001752956240_363625_5659382_n.jpg') }}'><img
                                src='{{ asset('photos/268115_165029126898851_100001752956240_363625_5659382_n.jpg') }}'
                                ></a>

                    <a rel='{{ asset('photos/556110_385809954791354_100000870586255_1016749_526671791_n.jpg') }}'
                            href='{{ asset('photos/556110_385809954791354_100000870586255_1016749_526671791_n.jpg') }}'>
                        <img src='{{ asset('photos/556110_385809954791354_100000870586255_1016749_526671791_n.jpg') }}'>
                    </a>

                    <a
                            rel='{{ asset('photos/bapteme.JPG') }}' href='{{ asset('photos/bapteme.JPG') }}'>
                        <img src='{{ asset('photos/bapteme.JPG') }}'></a>

                    <a rel='{{ asset('photos/briefing.jpg') }}'
                       href='{{ asset('photos/briefing.jpg') }}'><img
                                src='{{ asset('photos/briefing.jpg') }}'></a><a
                            rel='{{ asset('photos/depart2rando.JPG') }}'
                            href='{{ asset('photos/depart2rando.JPG') }}'><img
                                src='{{ asset('photos/depart2rando.JPG') }}'></a>

                    <a rel='{{ asset('photos/departrando.jpg') }}'
                       href='{{ asset('photos/departrando.jpg') }}'><img
                                src='{{ asset('photos/departrando.jpg') }}'></a>

                    <a rel='{{ asset('photos/DSC00205.JPG') }}'
                       href='{{ asset('photos/DSC00205.JPG') }}'><img
                                src='{{ asset('photos/DSC00205.JP') }}G'></a>

                    <a rel='{{ asset('photos/DSC00226.JPG') }}'
                       href='{{ asset('photos/DSC00226.JPG') }}'><img
                        src='{{ asset('photos/DSC00226.JPG') }}' ></a>
                    <a rel='{{ asset('photos/DSC00230.JPG') }}'
                       href='{{ asset('photos/DSC00230.JPG') }}'><img
                        src='{{ asset('photos/DSC00230.JPG') }}' ></a>

                    <a rel='{{asset('photos/DSC00231.JPG')}}'
                       href='{{ asset('photos/DSC00231.JP') }}G'><img
                                src='{{ asset('photos/DSC00231.JPG') }}'></a>

                    <a rel='{{ asset('photos/DSC00243.JPG') }}'
                       href='{{ asset('photos/DSC00243.JPG') }}'>
                       <img
                        src='{{ asset('photos/DSC00243.JPG') }}' ></a>

                    <a rel="{{ asset('photos/DSC00266.JPG') }}"  href='{{ asset('photos/DSC00266.JPG') }}'>
                    <img src='{{ asset('photos/DSC00266.JPG') }}' ></a>

                    <a rel='{{ asset('photos/flyboard1.JPG') }}' href='{{ asset('photos/flyboard1.JPG') }}'>
                    <img src='{{ asset('photos/flyboard1.JPG') }}' ></a>

                    <a rel='{{asset('photos/flyboard2.jpg')}}'href='{{ asset('photos/flyboard2.jpg') }}'>
                    <img  src='{{ asset('photos/flyboard2.jpg') }}' ></a>

                    <a rel='{{asset('photos/flyboard3.jpg')}}'   href='{{ asset('photos/flyboard3.jpg') }}'>
                    <img src=' {{ asset('') }}photos/flyboard3.jpg' ></a>

                    <a rel='{{asset('photos/IMG_0812.JPG')}}' href='{{ asset('photos/IMG_0812.JPG') }}'>
                    <img src='{{ asset('photos/IMG_0812.JPG') }}'>
                    </a>

                    <a rel='{{asset('photos/IMG_0834.JPG')}}' href='{{ asset('photos/IMG_0834.JPG') }}'>
                    <img src='{{ asset('photos/IMG_0834.JPG') }}'>
                     </a>

                    <a rel='{{asset('photos/IMG_0837.JPG')}}'
                       href='{{ asset('photos/IMG_0837.JPG') }}'><img
                        src='{{ asset('photos/IMG_0837.JPG') }}'></a>

                    <a rel='{{asset('photos/IMG_0857.JPG')}}'
                       href='{{ asset('photos/IMG_0857.JPG') }}'><img
                        src='{{ asset('photos/IMG_0857.JPG') }}'></a>

                    <a rel='{{asset('photos/IMG_0861.JPG')}}' href='{{ asset('photos/IMG_0861.JPG') }}'>
                    <img src='{{ asset('photos/IMG_0861.JPG') }}'>
                    </a>

                    <a rel='{{asset('photos/IMG_0876.JPG')}}' href='{{ asset('photos/IMG_0876.JPG') }}'>
                    <img  src='{{ asset('photos/IMG_0876.JPG') }}'>
                        
                    </a>
                 
                    <a rel='{{asset('photos/IMG_0877.JPG')}}' href='{{ asset('photos/IMG_0877.JPG') }}'>
                        <img src='{{ asset('photos/IMG_0877.JPG') }}'>
                    </a>
                
                    <a rel='{{asset('photos/IMG_0880.JPG')}}' href='{{ asset('photos/IMG_0880.JPG') }}'>
                        <img src='{{ asset('photos/IMG_0880.JPG') }}'>
                    </a>
               
                    <a rel='{{asset('photos/IMG_0884.JPG')}}' href='{{ asset('photos/IMG_0884.JPG') }}'>
                        <img src='{{ asset('photos/IMG_0884.JPG') }}'>
                    </a>
           
                    <a rel='{{asset('photos/IMG_0888.JPG')}}' href='{{ asset('photos/IMG_0888.JPG') }}'>
                        <img  src='{{ asset('photos/IMG_0888.JPG') }}'>
                    </a>
 
                    <a rel='{{asset('photos/IMG_0899.JPG')}}' href='{{ asset('photos/IMG_0899.JPG') }}'>
                        <img  src='{{ asset('photos/IMG_0899.JPG') }}'>
                    </a>
                  
                    <a rel='{{asset('photos/IMG_1267.JPG')}}' href='{{ asset('photos/IMG_1267.JPG') }}'>
                        <img  src='{{ asset('photos/IMG_1267.JPG') }}'>
                    </a>
                   
                    <a rel='{{asset('photos/IMG_1307.JPG')}}' href='{{ asset('photos/IMG_1307.JPG') }}'>
                        <img src='{{ asset('photos/IMG_1307.JPG') }}'>
                    </a>

                    <a rel='{{asset('photos/IMG_1315.JPG')}}' href='{{ asset('photos/IMG_1315.JPG') }}'>
                    <img src='{{ asset('photos/IMG_1315.JPG') }}'>

                    </a>

                    <a rel='{{asset('photos/initiation.JPG')}}' href='{{ asset('photos/initiation.JPG') }}'>
                    <img src='{{ asset('photos/initiation.JPG') }}'>
                    </a>

                    <a rel='{{asset('photos/photo1.jpg')}}' href='{{ asset('photos/photo1.jpg') }}'>
                    <img src='{{ asset('photos/photo1.jpg') }}'>
                    </a>

                    <a rel='{{asset('photos/photo2.jpg')}}' href='{{ asset('photos/photo2.jpg') }}'>
                    <img src='{{ asset('photos/photo2.jpg') }}'>
                    </a>

                    <a rel='{{asset('photos/photo4.jpg')}}' href='{{ asset('photos/photo4.jpg') }}'>
                    <img src='{{ asset('photos/photo4.jpg') }}'>
                    </a>

                    <a rel='{{asset('photos/photo5.jpg')}}' href='{{ asset('photos/photo5.jpg') }}'>
                    <img  src='{{ asset('photos/photo5.jpg') }}'></a>

                    <a rel='{{asset('photos/photo6.jpg')}}' href='{{ asset('photos/photo6.jpg') }}'>
                        <img src='{{ asset('photos/photo6.jpg') }}'>
                    </a>

                    <a rel='{{asset('photos/plateformejetski.jpg')}}' href='{{ asset('photos/plateformejetski.jpg') }}'>
                        <img src='{{ asset('photos/plateformejetski.jpg') }}'>
                    </a>

                    <a rel='{{asset('photos/rando2010.jpg')}}' href='{{ asset('photos/rando2010.jpg') }}'>
                        <img src='{{ asset('photos/rando2010.jpg') }}'>
                    </a>

                    <a rel='{{asset('photos/rando20102.jpg')}}' href='{{ asset('photos/rando20102.jpg') }}'>
                    <img src='{{ asset('photos/rando20102.jpg') }}'>
                    </a>

                    <a rel='{{asset('photos/rando20103.jpg')}}' href='{{ asset('photos/rando20103.jpg') }}'>
                        <img src='{{ asset('photos/rando20103.jpg') }}'>
                    </a>

                    <a rel="{{ asset('photos/DSC00243.jpg') }}" href="{{ asset('photos/DSC00243.jpg') }}">
                        <img src="{{ asset('photos/DSC00243.jpg') }}" alt="petite pause..." title="La plage en jetski">
                    </a>

                </div>
            </div>
            <br><br><br><br>
        </div>



{% endblock %}
{% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        <!-- gallerie photo -->
        <script src="{{ asset('js/galleria/galleria-1.2.4.js') }}"></script>
        <script src="{{ asset('js/galleria/themes/classic/galleria.classic.min.js') }}"></script>
        <!-- fin galerie -->

        <script>

            $('#gallery').galleria({
                width: 1196,
                height: 655,
                imageCrop: true,
                transition: "fade",


            });

        </script>


    {% endblock %}


