{% extends '::base.html.twig' %}

{% block body %}

<div id="corps" class="">

    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="860" valign="top" style="padding-top:22px;">
                <table width="860" border="0" cellpadding="4" cellspacing="0">
                    <tr>
                        <td colspan="2" align="center" valign="top">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="410" align="center" valign="top">&nbsp;</td>
                                    <td valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="left">
                                                    <div style="width:330px;margin-left:16px;"></div>
                                                    <br/>

                                                    <div style="font-size:14px; margin-left:16px;"></div>
                                                    <br/></td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2" align="center" valign="top"></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="left" valign="top" style="padding-left:30px;padding-top:12px;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td align="center" valign="top">
                                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td align="center">
                                                    <div><span class="titregrand">Initiations JET</span><span
                                                                class="titrebleugrand"> ski</span></div>


                                                    <div style="margin-left:8px;">
                                                        <strong>Découverte du jet ski au large ! </strong><br/>
                                                        Avant toutes sorties, vous assisterez à un briefing sur la
                                                        sécurité<br/>
                                                        et une explication du mode d’emploi du jet ski<br/>
                                                        (ce briefing se fera en dehors de votre durée de location)<br/>
                                                        <br/>
                                                        <strong>En formule initiation</strong>, vous allez passer <br/>
                                                        un agréable moment de divertissement<br/>
                                                        sous la responsabilité de nos moniteurs diplômés, <br/>
                                                        qui vous définiront une zone de navigation en mer.<br/>
                                                        <br/>
                                                        <strong>Le permis mer n’est pas obligatoire</strong>,<br/>
                                                        (encadré par un moniteur diplomé)
                                                        <br/>
                                                        vous pourrez évoluer librement en toute sécurité ,<br/>
                                                        vous piloterez vous-même votre propre jet ski dès l’âge de 16
                                                        ans ! <br/>
                                                        <br/>
                                                        Deux formules sont proposées : 20 ou 30 minutes <br/>
                                                        <br/>
                                                        Pour en savoir plus, <a
                                                                href="contact.asp?width=740&amp;height=620"
                                                                rel="sexylightbox">contactez-nous</a>
                                                    </div>

                                                    <br/>


                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="363" align="center" valign="top"><br/>
                                        <br/> <img src="{{ asset('images/jetski-initiation.jpg') }}"
                                                   alt="jetski 66 bapteme" width="410" height="252" class="imgencadre2"
                                                   style="margin-right:11px;"/><br/> <br/>
                                        <img src="{{ asset('images/jetski-initiation-canet.jpg') }}"
                                             alt="jetski canet initiations" width="363" height="252"
                                             class="imgencadre2"/></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td width="410" align="left" class="titregrand" style="padding-left:26px;padding-top:18px;">

                            <div style="border-top: 1px solid #e2e2e2;padding-left:4px;width:700px;">Nos <span
                                        class="titrebleugrand">Tarifs</span></div>

                        </td>
                        <td valign="top">&nbsp;</td>
                    </tr>
                </table>
            </td>
            <td width="340" align="center" valign="top" style="padding-top:12px;">
                <table width="300" border="0" cellpadding="6" cellspacing="0">
                    <tr>
                        <td height="50" colspan="2" align="center" class="titrebleu">Jet sensation</td>
                    </tr>
                    <tr>
                        <td width="20" valign="top"><img src="{{ asset('images/puce.gif') }}" style="margin-top:4px;"
                                                         alt="d" width="22" height="21"/></td>
                        <td height="40">Location de jet ski <br/>
                            avec ou sans permis.
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"><img src="{{ asset('images/puce.gif') }}" style="margin-top:4px;" alt="d"
                                              width="22" height="21"/></td>
                        <td height="40">Location de 15mn à la journée complète.</td>
                    </tr>
                    <tr>
                        <td valign="top"><img src="{{ asset('images/puce.gif') }}" style="margin-top:4px;" alt="d"
                                              width="22" height="21"/></td>
                        <td height="40">Partez seul ou à 2 sur le même jet-ski pour le même prix.</td>
                    </tr>
                    <tr>
                        <td valign="top"><img src="{{ asset('images/puce.gif') }}" style="margin-top:4px;" alt="d"
                                              width="22" height="21"/></td>
                        <td height="40">L'équipement pour pratiquer le jet ski vous est fourni. Tout est compris dans le
                            prix.
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"><img src="{{ asset('images/puce.gif') }}" style="margin-top:4px;" alt="d"
                                              width="22" height="21"/></td>
                        <td height="50">En saison, pensez à réserver pour éviter un long moment d'attente sur
                            place.<br/>
                            Infoline : 06 34 87 50 49
                        </td>
                    </tr>
                    <tr>
                        <td valign="top"><img src="{{ asset('images/puce.gif') }}" style="margin-top:4px;" alt="d"
                                              width="22" height="21"/></td>
                        <td height="50"><strong>Comité d'entreprise,<br/>
                            </strong>proposez à vos collaborateurs des challenges innovants et des sensations
                            exceptionnelles ! <br/>
                            Notre concept est de pouvoir faire profiter tout le monde, titulaire ou pas du permis mer,
                            de cette aventure permettant de faire découvrir notre cote catalane au commande d’un jet
                            ski.<br/>
                            <a href="contact.asp?width=740&amp;height=620" rel="sexylightbox">contactez-nous</a> pour
                            une offre <br/>
                            sur mesure.
                        </td>
                    </tr>
                </table>

                <br/>
                <a href="tarifs.html?width=940&amp;height=300" rel="sexylightbox">
                    <img src="{{ asset('images/jetski-66.jpg') }}" alt="jet ski canet en roussillon" width="230"
                         height="175" class="imgencadre2"/></a>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="padding-top:12px;">

                <!--include tarif -->
                {% include "AppBundle:Default:layout/tarifs.html.twig" %}
            </td>
        </tr>

    </table>
    {% endblock %}

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('css/global.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style-slider.css') }}"/>
    {% endblock %}
    {% block javascripts %}


        <script src="{{ asset('js/slides.min.jquery.js') }}"></script>
        <script>
            $(function () {

                $('#slides').slides({
                    preload: true,
                    preloadImage: 'images2/loading.gif',
                    play: 4500,
                    pause: 8000,
                    hoverPause: true,
                    effect: 'fade'
                });
            });
        </script>

    {% endblock %}


