{% extends '::base.html.twig' %}

{% block body %}

    <div id="corps" class="">

        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" style="padding-top:12px;"><table width="1140" border="0" cellpadding="4" cellspacing="0">
                        <tr>
                            <td colspan="2" align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td colspan="2"><div style="width:418px;margin-left:16px;"><span class="titregrand">Randonnees EN JET</span><span class="titrebleugrand"> ski</span></div>                          </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">

                                                        <div style="margin-left:-16px;margin-right:4px; margin-top:10px;">
                                                            <strong>JET SENSATION vous invite à découvrir les plus beaux coins notre côte Catalane !</strong><br />
                                                            Après un briefing de 20 mn, (non compté sur votre temps de navigation), donnant l’explication sur le fonctionnement
                                                            <br />
                                                            de la machine et rappel des règles de navigation
                                                            et de sécurité, vous partirez en randonnée, encadré
                                                            à distance<br />
                                                            par nos moniteurs diplômés.

                                                            Nul besoin d’avoir le permis mer pour piloter ! <br />
                                                            Plusieurs parcours sont proposés pour une durée de
                                                            navigation en mer de 40 mn à une  journée.

                                                            <br />
                                                            De ces ballades sur la grande bleue, vous garderez
                                                            un souvenir exceptionnel des plus beaux paysages
                                                            de bord de mer .<br />
                                                            Notre randonnée prestige à destination
                                                            de Collioure restera l’un de vos plus beaux souvenirs.<br />
                                                            La découverte de notre belle mer ainsi que le beau
                                                            village catalan pittoresque et son château médiéval
                                                            les pieds dans l’eau. <br />
                                                            La côte et les rochers vous paraîtront
                                                            plus proche que jamais, <br />
                                                            une dimension vue
                                                            par la mer à ne pas manquer ! </div>                        </td>


                                                    <td width="100" >

                                                        <div id="slider" style="-moz-border-radius: 6px;	border-radius: 6px;	border: 5px #C9DCFC solid;">
                                                            <ul>
                                                                <li><img src="{{ asset('images/jetski-66-rando-collioure-1.jpg') }}" alt="Css Template Preview"  class=""/></li>
                                                                <li><img src="{{ asset('images/jetski-66-rando-collioure-2.jpg') }}" alt="Css Template Preview"  class=""/></li>
                                                                <li><img src="{{ asset('images/jetski-66-rando-collioure-3.jpg') }}" alt="Css Template Preview"  class=""/></li>
                                                                <li><img src="{{ asset('images/jetski-66-rando-collioure-4.jpg') }}" alt="Css Template Preview"  class=""/></li>
                                                            </ul>
                                                        </div></td>
                                                </tr>
                                            </table>                    </td>
                                    </tr>
                                </table></td>
                        </tr>

                        <tr>
                            <td colspan="2" align="center" valign="top" ></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" valign="top" style="padding-left:0px;padding-top:6px;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td><table width="760" border="0" cellpadding="4" cellspacing="0">
                                                <tr>
                                                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" valign="top" ><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td><div style="width:320px;margin-left:0px;border-top: 1px solid #e2e2e2"><span class="titregrand">Sainte marie la mer</span></div>
                                                                                <br />
                                                                                <strong>40 mn de randonnée en mer, <br />
                                                                                    direction Sainte Marie La Mer...                                  <br />
                                                                                    très belle ballade longeant la côte sablonneuse,<br />
                                                                                    liberté du grand large !</strong><br />
                                                                                <br />
                                                                                Pour en savoir plus, <a href="{{ path('contact')}}">contactez-nous</a><br /></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign="top">&nbsp;</td>
                                                                        </tr>
                                                                    </table></td>
                                                                <td width="330" align="left" valign="top"><img src="{{ asset('images/jetski-randonnees-sainte-marie-la-mer.jpg') }}" alt="" width="331" height="230" class="imgencadre2" /></td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                                <tr>
                                                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" valign="top" ><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td><div style="width:320px;margin-left:16px;border-top: 1px solid #e2e2e2"><span class="titregrand">Saint Cyprien</span></div>
                                                                                <br />
                                                                                <strong>1h de randonnée en mer.<br />
                                                                                    Très belle virée ou vous pourrez admirer la vue <br />
                                                                                    imprenable sur le Canigou
                                                                                    ainsi que sur les Albères.<br />
                                                                                    Vue sur Argelès-sur-mer et le  Racou.<br />
                                                                                    <br />
                                                                                    Que du bonheur !!<br />
                                                                                </strong><br />
                                                                                <br />
                                                                                Pour en savoir plus, <a href="{{ path('contact') }}" >contactez-nous</a><br /></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign="top">&nbsp;</td>
                                                                        </tr>
                                                                    </table></td>
                                                                <td width="330" align="left" valign="top"><img src="{{ asset('images/jet-ski-randonnee-saint-cyprien.jpg') }}" alt="" width="331" height="230" class="imgencadre2" /></td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                                <tr>
                                                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" valign="top" ><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td><div style="width:320px;margin-left:16px;border-top: 1px solid #e2e2e2"><span class="titregrand">cOLLIOURE</span></div>
                                                                                <p><br />
                                                                                    <strong>2h30 de randonnée en mer.</strong><br />
                                                                                    <strong>Direction Collioure, la ville pittoresque, <br />
                                                                                        ancien village de pêcheurs, reconnue pour ses anchois,<br />
                                                                                        son clocher magnifique et pied dans l’eau,<br />
                                                                                        l’un de nos plus beaux sites,<br />
                                                                                        vous en prendrez pleins les yeux !!<br />
                                                                                    </strong><br />
                                                                                    Pour en savoir plus, <a href="{{ path('contact') }}">contactez-nous</a><br />
                                                                                </p></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign="top">&nbsp;</td>
                                                                        </tr>
                                                                    </table></td>
                                                                <td width="330" align="left" valign="top"><img src="{{ asset('images/jet-ski-randonnee-collioure.jpg') }}" alt="" width="331" height="230" class="imgencadre2" /></td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                                <tr>
                                                    <td><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td align="center" valign="top" ><table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                                        <tr>
                                                                            <td><div style="width:320px;margin-left:16px;border-top: 1px solid #e2e2e2"><span class="titregrand">Cerbère</span></div>
                                                                                <p><br />
                                                                                    <strong>1 journée en notre compagnie.<br />
                                                                                        Départ de Canet-plage direction Cerbère, dernière commune de la cote vermeille avant l’Espagne.<br />
                                                                                        Vous longerez les plages de sables blancs <br />
                                                                                        pour arriver ensuite sur notre cote rocheuse<br />
                                                                                        ainsi que ses criques, vu imprenable!! <br />
                                                                                        Là nous n’avons plus les pieds sur terre !</strong><br />
                                                                                    <br />
                                                                                    Pour en savoir plus, <a href="contact.asp?width=740&amp;height=600" rel="sexylightbox">contactez-nous</a><br />
                                                                                </p></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td valign="top">&nbsp;</td>
                                                                        </tr>
                                                                    </table></td>
                                                                <td width="340" align="left" valign="top"><img src="{{ asset('images/jet-ski-randonnee-cerbere.jpg') }}" alt="" width="331" height="230" class="imgencadre2" /></td>
                                                            </tr>
                                                        </table></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </table></td>
                                        <td width="340" align="center" valign="top">


                                            <table width="300" border="0" cellpadding="6" cellspacing="0">
                                                <tr>
                                                    <td height="50" colspan="2" align="center" class="titrebleu">Jet sensation</td>
                                                </tr>
                                                <tr>
                                                    <td width="20" valign="top"><img src="{{asset('images/puce.gif')}}" style="margin-top:4px;" alt="d" width="22" height="21" /></td>
                                                    <td height="40">Location de jet ski <br />
                                                        avec ou sans permis.</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><img src="{{asset('images/puce.gif')}}"  style="margin-top:4px;" alt="d" width="22" height="21" /></td>
                                                    <td height="40">Location de 15mn à la journée complète.</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><img src="{{asset('images/puce.gif')}}"  style="margin-top:4px;" alt="d" width="22" height="21" /></td>
                                                    <td height="40">Partez seul ou à 2 sur le même jet-ski pour le même prix.</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><img src="{{asset('images/puce.gif')}}" style="margin-top:4px;" alt="d" width="22" height="21" /></td>
                                                    <td height="40">L'équipement pour pratiquer le jet ski vous est fourni. Tout est compris dans le prix.</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><img src="{{asset('images/puce.gif')}}" style="margin-top:4px;" alt="d" width="22" height="21" /></td>
                                                    <td height="50">En saison, pensez à réserver pour éviter un long moment d'attente sur place.<br />
                                                        Infoline : 06 34 87 50 49</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><img src="{{asset('images/puce.gif')}}" style="margin-top:4px;" alt="d" width="22" height="21" /></td>
                                                    <td height="50"><strong>Comité d'entreprise,<br />
                                                        </strong>proposez à vos collaborateurs des challenges innovants et des sensations exceptionnelles ! <br />
                                                        Notre concept est de pouvoir faire profiter  tout le monde, titulaire ou pas du permis mer, de cette aventure permettant de faire découvrir notre cote catalane au commande d’un  jet ski.<br />
                                                        <a href="contact.asp?width=740&amp;height=620" rel="sexylightbox">contactez-nous</a> pour une offre <br />
                                                        sur mesure.</td>
                                                </tr>
                                            </table>



                                            <br />
                                            <a href="{{ path('tarifs') }}"><img src="{{ asset('images/jetski-66.jpg') }}" width="230" height="175" class="imgencadre2" /></a></td>
                                    </tr>
                                </table></td>
                        </tr>
                        <tr>
                            <td width="410" align="left" class="titregrand" >&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                        </tr>
                    </table></td>
            </tr>

        </table>
    </div>
{% endblock %}

    {% block stylesheets %}
        <style>
            /* Easy Slider */

            #slider ul, #slider li{
                margin:0px;
                padding:0px;
                list-style:none;
            }
            #slider, #slider li{
                /*
                    define width and height of container element and list item (slide)
                    list items must be the same size as the slider area
                */
                width:450px;
                height:257px;
                overflow:hidden;
            }
            span#prevBtn{}
            span#nextBtn{}

            /* // Easy Slider */
        </style>

    {% endblock %}
    {% block javascripts %}

       
        <script type="text/javascript" src="{{ asset('js/easySlider.packed.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#slider").easySlider();
                console.log('ok');
            });
        </script>
        <!-- ne fonctionne pas sans le bout de jquery charger par la lightbox -->


    {% endblock %}


