<div style="width:1000px; margin:auto;">
    <table width="100%" border="0" cellpadding="4" cellspacing="0">
        <tr>
            <td colspan="4" align="center" valign="top" class="titre">[Tous nos Tarifs jet ski sont pour
                1 ou 2 personnes]
            </td>
        </tr>
        <tr>
            <td width="50%" colspan="2" align="center" valign="top">

                <div class="articleEncadre" style="padding-bottom:12px;">
                    <table width="100%" border="0" cellpadding="3" cellspacing="0">
                        <tr>
                            <td colspan="2" align="center" class="titrebleu">Initiations jet-ski</td>
                        </tr>
                        <tr>
                            <td width="60%" align="center" bgcolor="#00D7D7"><strong>15
                                    minutes </strong></td>
                            <td width="40%" align="center" bgcolor="#00D7D7"><strong>40 &euro;</strong>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#00F2F2"><strong>20 minutes</strong></td>
                            <td align="center" bgcolor="#00F2F2"><strong>50 &euro;</strong></td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#28FFFF"><strong>30 minutes</strong></td>
                            <td align="center" bgcolor="#28FFFF"><strong>60 &euro;</strong></td>
                        </tr>
                    </table>

                </div>
                <div class="articleEncadre" style="padding-bottom:12px;">
                    <table width="100%" border="0" cellpadding="3" cellspacing="0">
                        <tr>
                            <td colspan="2" align="center" class="titrebleu">GO PRO</td>
                        </tr>
                        <tr>
                            <td width="60%" align="center" bgcolor="#CCFF00"><strong>Option caméra
                                    embarquée (GoPro)</strong></td>
                            <td width="40%" align="center" bgcolor="#CCFF00"><strong>20 &euro;</strong>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#CCFF00"><strong>Film HD sur microSD 8go Classe
                                    10</strong></td>
                            <td align="center" bgcolor="#CCFF00">&nbsp;</td>
                        </tr>
                    </table>

                </div>
                <table width="90%" border="0" cellpadding="4" cellspacing="0">
                    <tr>
                        <td width="20"><img src="{{ asset('images/puce.gif') }}" width="22"
                                            height="21"/></td>
                        <td><span style="font-size:10px;">Age minimum 16 ans.<br/>
          (hors bapt&ecirc;me)</span></td>
                        <td width="20"><img src="{{ asset('images/puce.gif') }}" alt="" width="22"
                                            height="21"/></td>
                        <td><span style="font-size:10px;">Pi&egrave;ce d'identit&eacute; <br/>
          et  caution obligatoire.</span></td>
                    </tr>
                    <tr>
                        <td><img src="{{ asset('images/puce.gif') }}" alt="" width="22" height="21"/>
                        </td>
                        <td><span style="font-size:10px;">Essence et gilet compris</span></td>
                        <td><img src="{{ asset('images/puce.gif') }}" alt="" width="22" height="21"/>
                        </td>
                        <td><span style="font-size:10px;">La 2i&egrave;me personne <br/>
          sur le jet-ski est offerte.</span></td>
                    </tr>
                    <tr>
                        <td><img src="{{ asset('images/puce.gif') }}" alt="" width="22" height="21"/>
                        </td>
                        <td><span style="font-size:10px;">Assurance inviduelle incluse</span></td>
                        <td><img src="{{ asset('images/puce.gif') }}" alt="" width="22" height="21"/>
                        </td>
                        <td><span style="font-size:10px;">Ch&egrave;ques vacances accept&eacute;s</span>
                        </td>
                    </tr>
                </table>
            </td>


            <td width="50%" valign="top" colspan="2">

                <div class="articleEncadre" style="padding-bottom:12px;">
                    <table width="100%" border="0" cellpadding="3" cellspacing="0">
                        <tr>
                            <td colspan="2" align="center" class="titre">Randonn&eacute;es jet-ski</td>
                        </tr>
                        <tr>
                            <td width="70%" align="center" bgcolor="#FF6EC7"><strong>Libert&eacute;
                                    Canet-Sainte Marie</strong><br/>
                                env. 40 minutes
                            </td>
                            <td width="30%" align="center" bgcolor="#FF6EC7"><strong>90 &euro;</strong>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#FF9DDB"><strong>Sensation Canet-Saint
                                    Cyprien</strong><br/>
                                env. 1 h
                            </td>
                            <td align="center" bgcolor="#FF9DDB"><strong>110 &euro;</strong></td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#FFBFE8"><strong> Sport Canet-Collioure</strong><br/>
                                <em>env. 1 h </em>30<br/></td>
                            <td align="center" bgcolor="#FFBFE8"><strong>150 &euro;</strong></td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#FFD7F1"><strong> Prestige
                                    Canet-Collioure</strong>-<strong>Banyuls<br/>
                                </strong> <em>env. 2 h </em>30<br/></td>
                            <td align="center" bgcolor="#FFD7F1"><strong>200 &euro;</strong></td>
                        </tr>
                        <tr>
                            <td align="center" bgcolor="#FFF0FA"><strong> Formule coucher de
                                    soleil </strong>- rando 1h<br/>
                                <em> nous consulter -<span
                                            style="font-size: 11px"> 3 JET SKI minimum</span></em><br/>
                            </td>
                            <td align="center" bgcolor="#FFF0FA"><strong>120 &euro;</strong></td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="center" valign="top"><span class="titre"
                                                              style="text-decoration:blink">Nouveau ! Engins tract&eacute;s</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" valign="top">
                <div class="articleEncadre" style="padding-bottom:12px;width:430px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="2" align="center" class="titrebleu">
                                <div style='wdith:440px; height:68px; background-position:left top; background-image:url({{ asset('images/Engins-tractes-66-flyfish.png') }}); background-repeat:no-repeat'>
                                    BOUEES FLYFISH<br/>
                                    <span class="titrebleutextesimple">&quot; &agrave; grande vitesse d&eacute;collage garanti &quot; </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" height="43" align="center" bgcolor="#022B8A"
                                class="articlemobile_blanc"><strong>15 minutes<br/>
                                </strong>Jusqu'à 2 pers.
                            </td>
                            <td width="50%" align="center" bgcolor="#022B8A"
                                class="articlemobile_blanc">30€/pers.
                            </td>
                        </tr>
                        <tr>
                            <td height="30" align="center" bgcolor="#0236B0"
                                class="articlemobile_blanc">de 3 à 6 pers.
                            </td>
                            <td align="center" bgcolor="#0236B0" class="articlemobile_blanc">25€/pers.
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
            <td colspan="2" align="center" valign="top">
                <div class="articleEncadre" style="padding-bottom:12px;width:430px;">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td colspan="2" align="center" class="titrebleu">
                                <div style='wdith:440px; height:68px; background-position:left top; background-image:url(http://www.jetsensation.fr/images/bouee-tractees-66Slydsit.png); background-repeat:no-repeat'>
                                    &nbsp;&nbsp;BOUEES SLYDSIT ou canapé<br/>
                                    <span class="titrebleutextesimple">&nbsp;&nbsp;&quot;  glissade et rigolade garanties &quot; </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td width="50%" height="43" align="center" bgcolor="#022B8A"><span
                                        class="articlemobile_blanc"><strong>15 minutes<br/>
                                    </strong>Jusqu'à 2 pers. </span></td>
                            <td width="50%" align="center" bgcolor="#022B8A"><span
                                        class="articlemobile_blanc">30€/pers.</span></td>
                        </tr>
                        <tr>
                            <td height="30" align="center" bgcolor="#0236B0"><span
                                        class="articlemobile_blanc">de 3 à 8 pers.</span></td>
                            <td align="center" bgcolor="#0236B0"><span class="articlemobile_blanc">20€/pers.</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" align="center" valign="top"><span class="titre"> Packs multi-activit&eacute;s</span>
            </td>
        </tr>
        <tr>
            <td colspan="4" valign="top">
                <table width="100%" border="0" cellspacing="4" cellpadding="0">
                    <tr>
                        <td valign="top">
                            <div class="articleEncadreOrange" style="padding-bottom:12px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" class="titreOrange">JET GLISS'</td>
                                    </tr>
                                    <tr>
                                        <td height="140" align="center" style='font-size:13px;'>20
                                            minutes de jet ski <br/>
                                            <span class="titreOrange">+ </span><br/>
                                            1 h de ski nautique &amp; wakeboard<br/>
                                            avec notre partenaire TELESKI <br/>
                                            à port Barcar&egrave;s
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><span
                                                    class="titreOrange">60 &euro; </span><br/>
                                            <a href="jetski-partenaires-66.asp">plus d'infos</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="articleEncadreOrange" style="padding-bottom:12px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" class="titreOrange">Jet Aventure</td>
                                    </tr>
                                    <tr>
                                        <td height="140" align="center" style='font-size:13px;'>20
                                            minutes de jet ski<br/>
                                            <span class="titreOrange">+</span><br/>
                                            1 entr&eacute;e &agrave; Argel&egrave;s Aventure<br/>
                                            ou au Canyoning parc<br/></td>
                                    </tr>
                                    <tr>
                                        <td align="center"><span class="titreOrange">&aacute; partir de 70 &euro;</span><br/>
                                            <a href="{{ path('partenaires') }}">plus d'infos</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="articleEncadreRose" style="padding-bottom:12px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" class="titreRose">Jet SENSATION</td>
                                    </tr>
                                    <tr>
                                        <td height="140" align="center" style='font-size:13px;'>20
                                            minutes de jet ski<br/>
                                            <span class="titreRose">+</span><br/>
                                            15 minutes d'engins tractés<br/>
                                            (Flyfish ou Slydsit)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><span class="titreRose">65 &euro;</span><br/>
                                            <a href="jetski-partenaires-66.asp">plus d'infos</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="articleEncadreOrange" style="padding-bottom:12px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" class="titreOrange">Jet Grand Large</td>
                                    </tr>
                                    <tr>
                                        <td height="140" align="center" style='font-size:13px;'>20
                                            minutes de jet ski<br/>
                                            <span class="titreOrange">+</span><br/>
                                            1h30 de coucher de soleil<br/>
                                            à bord du Navivoile
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><span
                                                    class="titreOrange">70 &euro;</span><br/>
                                            <a href="jetski-partenaires-66.asp">plus d'infos</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="articleEncadreOrange" style="padding-bottom:12px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" class="titreOrange">Jet detente</td>
                                    </tr>
                                    <tr>
                                        <td height="140" align="center" style='font-size:13px;'>20
                                            minutes de jet ski<br/>
                                            <span class="titreOrange">+</span><br/>
                                            1 soin modelage <br/>
                                            sous affusion
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><span
                                                    class="titreOrange">85 &euro;</span><br/>
                                            <a href="jetski-partenaires-66.asp">plus d'infos</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td valign="top">
                            <div class="articleEncadreOrange" style="padding-bottom:12px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td align="center" class="titreOrange">Jet Quad</td>
                                    </tr>
                                    <tr>
                                        <td height="140" align="center" style='font-size:13px;'>20
                                            minutes de jet ski<br/>
                                            <span class="titreOrange">+</span><br/>
                                            1 h de Quad pour 2 personnes
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="center"><span
                                                    class="titreOrange">100 &euro;</span><br/>
                                            <a href="jetski-partenaires-66.asp">plus d'infos</a></td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>





