<div class="articleEncadre" style='margin:6px;'>
<table width="100%" border="0" cellpadding="6" cellspacing="0" >
    <tr>
        <td height="50" colspan="2" align="center" class="titrebleu">Jet sensation</td>
    </tr>
    <tr>
        <td width="20" valign="top"><img src="{{asset('images/puce.gif')}}" style="margin-top:4px;" alt="d" width="22" height="21" /></td>
        <td height="40">Location de jet ski <br />
            avec ou sans permis.</td>
    </tr>
    <tr>
        <td valign="top"><img src="{{asset('images/puce.gif')}}"  style="margin-top:4px;" alt="d" width="22" height="21" /></td>
        <td height="40">Location de 15mn à  la journée complète.</td>
    </tr>
    <tr>
        <td valign="top"><img src="{{asset('images/puce.gif')}}"  style="margin-top:4px;" alt="d" width="22" height="21" /></td>
        <td height="40">Partez seul ou à  2 sur le même jet-ski pour le même prix.</td>
    </tr>
    <tr>
        <td valign="top"><img src="{{asset('images/puce.gif')}}" style="margin-top:4px;" alt="d" width="22" height="21" /></td>
        <td height="40">L'équipement pour pratiquer le jet ski vous est fourni. Tout est compris dans le prix.</td>
    </tr>
    <tr>
        <td valign="top"><img src="{{asset('images/puce.gif')}}" style="margin-top:4px;" alt="d" width="22" height="21" /></td>
        <td height="50">En saison, pensez à  réserver pour éviter un long moment d'attente sur place.<br />
            Infoline : 06 34 87 50 49</td>
    </tr>
    <tr>
        <td valign="top"><img src="{{asset('images/puce.gif')}}" style="margin-top:4px;" alt="d" width="22" height="21" /></td>
        <td height="50"><strong>Comité d'entreprise,<br />
            </strong>proposez à vos collaborateurs des challenges innovants et des sensations exceptionnelles ! <br />
            Notre concept est de pouvoir faire profiter  tout le monde, titulaire ou pas du permis mer, de cette aventure permettant de faire découvrir notre cote catalane au commande d'un  jet ski.<br />
            <a href="{{ path('contact') }}">contactez-nous</a> pour une offre <br />
            sur mesure.</td>
    </tr>
</table>
</div>