{% extends '::baseMobile.html.twig' %}

{% block body %}
    <a href="{{ path('mobile_home') }}" class="articlemobile_blanc" style=" font-family:Verdana, Geneva, sans-serif">

        <img src="{{ asset('images/mobile/bouton_retour.jpg') }}" height="45" border="0" width="320">

    </a>
    <span class="txtInfoIndex"><img src="{{ asset('images/mobile/entete_mobile_2014.gif') }}" alt="" width="320"
                                    height="130"/></span>

    <table width="320" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td align="center">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" class="articlemobile_blanc">

                            <div class="articleEncadre" style='margin:5px;'>

                                <span class="titregrand">Sainte marie la mer</span></div>

                            <strong><br/>
                                40 mn de randonnée en mer, <br/>
                                direction Sainte Marie La Mer... <br/>
                                très belle ballade longeant <br/>
                                la côte sablonneuse,<br/>
                                liberté du grand large !</strong><br/>
                            <br/>
                            Pour en savoir plus, <a href="{{ path('mobile_contact') }}"
                                                    class="articlemobile_blanc">contactez-nous</a><br/></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top"><br/> <img
                                    src="{{ asset('images/jetski-randonnees-sainte-marie-la-mer.jpg') }}"
                                    alt="jetski randonnées saint marie" width="300" class="imgencadre2"/></td>
                    </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" class="articlemobile_blanc">
                            <div class="articleEncadre" style='margin:5px;'><span
                                        class="titregrand">Saint Cyprien</span></div>
                            <strong>1h de randonnée en mer.<br/>
                                Très belle virée <br/>
                                ou vous pourrez admirer la vue <br/>
                                imprenable sur le Canigou
                                <br/>
                                ainsi que sur les Albères.<br/>
                                <br/>
                                Vue sur Argelès-sur-mer, le Racou.<br/>
                                <br/>
                                Que du bonheur !!<br/>
                            </strong><br/>
                            <br/>
                            Pour en savoir plus, <a href="{{ path('mobile_contact') }}"
                                                    class="articlemobile_blanc">contactez-nous</a><br/>


                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="top"><br/> <img src="{{ asset('images/jet-ski-randonnee-saint-cyprien.jpg') }}"
                                                                   alt="jetski randonnées saint cyprien" width="300"
                                                                   class="imgencadre2"/></td>
                    </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" class="articlemobile_blanc">


                            <div class="articleEncadre" style='margin:5px;'><span class="titregrand">cOLLIOURE</span>
                            </div>
                            <br/> <strong>2h30 de randonnée en mer.</strong><br/> <strong>Direction Collioure, <br/>
                                la ville pittoresque, <br/>
                                ancien village de pêcheurs, <br/>
                                reconnue pour ses anchois,<br/>
                                son clocher magnifique <br/>
                                et pieds dans l’eau,<br/>
                                <br/>
                                l’un de nos plus beaux sites,<br/>
                                vous en prendrez plein les yeux !!<br/>
                            </strong><br/>
                            Pour en savoir plus, <a href="{{ path('mobile_contact') }}"
                                                    class="articlemobile_blanc">contactez-nous</a><br/></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top"><br/> <img src="{{ asset('images/jet-ski-randonnee-collioure.jpg') }}"
                                                                   alt="jetski randonnées collioure" width="300"
                                                                   class="imgencadre2"/></td>
                    </tr>
                </table>


                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td align="center" class="articlemobile_blanc">
                            <div class="articleEncadre" style='margin:5px;'><span class="titregrand">Cerbère</span>
                            </div>
                            <strong>1 journée en notre compagnie.<br/>
                                <br/>
                                Départ de Canet-plage <br/>
                                direction Cerbère, <br/>
                                dernière commune <br/>
                                de la cote vermeille <br/>
                                avant l’Espagne.<br/>
                                <br/>
                                Vous longerez les plages <br/>
                                de sables blancs <br/>
                                pour arriver ensuite <br/>
                                sur notre cote rocheuse<br/>
                                ainsi que ses criques,<br/>
                                vue imprenable ! <br/>
                                <br/>
                                Là,
                                nous n’avons plus <br/>
                                les pieds sur terre !</strong><br/>
                            <br/>
                            Pour en savoir plus, <a href="{{ path('mobile_contact') }}"
                                                    class="articlemobile_blanc">contactez-nous</a><br/></td>
                    </tr>
                    <tr>
                        <td align="center" valign="top"><br/> <img src="{{ asset('images/jet-ski-randonnee-cerbere.jpg') }}"
                                                                   alt="jetski randonnées cerbere" width="300"
                                                                   class="imgencadre2"/></td>
                    </tr>
                </table>


                <a href="{{ path('mobile_tarifs') }}"><br/>
                    <img src="{{ asset('images/jetski-66-2.jpg') }}"
                         alt="Jet ski canet en roussillon, location jetski 66 roussillon" width="230" height="175"
                         class="imgencadre2" style=""/><br/>
                    <br/>
                </a>


            </td>
        </tr>
    </table>
{% endblock %}


